<div class="panel panel-default">
   <div class="panel-heading" id="head_<%= list_counter %>">
      <h4>
         <div style="display:inline;" id="arrow-right_<%= list_counter %>">&#9654;</div>
         <div style="display:inline;" id="arrow-down_<%= list_counter %>">&#9660;</div>
         <div style="display:inline;">
            <%= list.name == @user.username ? "personal" : list.name %>
            <%= link_to "add", new_gift_path(:list_id => list.id) %>
         </div>
      </h4>
   </div>
   <% if not @gifts[list.id].empty? %>
      <div id="table_<%= list_counter %>" class="table">
         <table id="list_<%= list_counter %>" class="table table-condensed table-hover">
            <thead>
               <tr>
                  <td><%= image_tag('edit.png', alt: "edit", height: 16) %></td>
                  <td><%= image_tag('delete.png', alt: "delete", height: 16) %></td>
                  <td class="nowrap">&#9733;&#160;&#160;&#160;</td>
                  <td>status</td>
                  <td>description</td>
               </tr>
            </thead>
            <tbody>
               <%= render @gifts[list.id] %>
            </tbody>
         </table>
      </div>
      <script>
         $(document).ready( function () {
         $("#list_<%= list_counter %>").DataTable({
         paging: false
         , search: {regex: true}
         , info: false
         , stateSave: true
         , sDom: 't<plf>'
         , columns: [
         { width: "1%", orderable: false}
         , { width: "1%", orderable: false}
         , { width: "1%"}
         , { width: "1%"}
         , null
         ]
         });
         } );
      </script>
   <% end %>
   <script>
      $(document).ready(function(){
      $("#table_<%= list_counter %>").show();
      $("#arrow-down_<%= list_counter %>").show();
      $("#arrow-right_<%= list_counter %>").hide();
      $("#head_<%= list_counter %>").click(function(){
      $("#table_<%= list_counter %>").slideToggle("fast");
      $(document).find("#arrow-right_<%= list_counter %>, #arrow-down_<%= list_counter %>").toggle();
      });
      });
   </script>
</div>
