<% view_user = User.view_user(session) %>
<%= link_to "back to " + view_user.name, user_path(view_user) %>
<br><br>

<strong>user:</strong>
<%= view_user.name %>

<strong>gift:</strong>
<%= Gift.find(@status.gift_id).description %>

<%= form_for @status do |f| %>
   <%= f.hidden_field :gift_id, :value => @status.gift_id %>
   <%= f.hidden_field :added_by_user_id, :value => current_user.id %>

   <%= f.label :status %><br>
   <div class="input-group">
   <%= f.select :status, options_for_select(@statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @status.status), {}, {:class => "form-control"} %>
   </div>

   <%= f.label :note %><br>
   <div class="input-group">
   <%= f.text_field :note, {:class => "form-control"} %>
   </div>

   <div class="input-group">
   <%= f.submit %>
   </div>
<% end %>
