<% view_family = Family.view_family(session) %>
<% view_user = User.view_user(session) %>

<ol class="breadcrumb">
   <li><%= link_to current_user.name, user_path(current_user) %></li>
   <li><%= link_to "my families", families_path %></li>
   <li><%= link_to view_family.name, family_path(view_family) %></li>
   <li><%= user_breadcrumb(view_user, current_user, true) %></li>
   <li class="active">status</li>
</ol>

<p>
<%= link_to "back to " + view_user.name, user_path(view_user), :class => "btn btn-success btn" %>
</p>

<div class="panel panel-primary">
   <div>
      <div class="input-group">
         <span class="input-group-addon">gift description:</span>
         <input type="text" class="form-control" value="<%= @gift.description %>" readonly>
      </div>
   </div>
</div>
<div class="panel panel-danger">
   <div class="panel-heading">
      <h4>
         <%= link_to "add", new_status_path(:gift_id => @gift.id), :class => "btn btn-success" %>
         status
      </h4>
   </div>
   <div>
      <table id="statuses" class="table table-condensed table-hover">
         <thead>
            <tr><td><%= image_tag('delete.png', alt: "delete", height: 16) %></td><td>status</td><td>note</td><td class="nowrap">added by</td><td>when</td></tr>
         </thead>
         <tbody>
            <%= render @statuses %>
         </tbody>
      </table>
   </div>
</div>

<script>
   $(document).ready( function () {
      $("#statuses").DataTable({
             paging: false
             , searching: false
             , info: false
             , columns: [
             { width: "1%", orderable: false}
             , { width: "1%"}
             , null
             , { width: "1%"}
             , { width: "1%"}
             ]
          });
   } );
</script>
