<% view_family = Family.view_family(session) %>
<% view_user = User.view_user(session) %>

<ol class="breadcrumb">
   <li><%= link_to current_user.name, user_path(current_user) %></li>
   <li><%= link_to "my families", families_path %></li>
   <li><%= link_to view_family.name, family_path(view_family) %></li>
   <li><%= user_breadcrumb(view_user, current_user, true) %></li>
   <li class="active">user info</li>
</ol>

<strong>birthday:</strong>
<%= @user.birthday %>
<br>
<br>

<strong>note (<%= link_to "edit", edit_user_note_path(@note) %>):</strong>
<%= simple_format(@note.to_s) %>
<br>

<strong>e-mail:</strong>
<br>
<% @emails.each do |email| %>
   <%= email.label? ? "%s: %s" % [email.label, email.to_s] : email.to_s %>
   <br>
<% end %>
<br>

<strong>phone:</strong>
<br>
<% @phone_numbers.each do |phone| %>
   <%= phone.label? ? "%s: %s" % [phone.label, phone.to_s] : phone.to_s %>
   <br>
<% end %>
<br>

<strong>address:</strong>
<br>
<% @addresses.each do |address| %>
   <%= address.label? ? "%s: %s" % [address.label, address.to_s] : address.to_s %>
   <br>
<% end %>
<br>

<%= link_to "back to " + view_user.name, user_path(view_user), :class => "btn btn-success btn-lg" %>
