<ol class="breadcrumb">
   <li><%= link_to current_user.name, user_path(current_user) %></li>
   <li><%= link_to "my families", families_path %></li>
   <li class="active"><%= @family.name %></li>
</ol>

<div class="panel panel-primary">
   <div class="panel-heading">
      <h2 class="panel-title">family members</h2>
   </div>
   <div class="panel-body">
      <div class="btn-group-vertical">
         <% @members.each do |member| %>
            <% color = member.updated?(current_user) ? "info" : "success" %>
            <% family_group_classes =  " family_group " + member.family_groups.map{|x| "family_group_" + x.id.to_s }.join(" ") %>
            <%= link_to member.name, user_path(member.id), class: ("btn btn-%s btn-lg" + family_group_classes) % color, id: member.name %>
         <% end %>
      </div>
   </div>
</div>

<div class="btn-group-vertical">
   <a id="family_group_all" class="btn btn-primary btn-lg"> show all </a>

   <% @family.family_groups.each do |group| %>
      <a id="family_group_<%= group.id %>" class="btn btn-primary btn-lg"><%= group.name %></a>
   <% end %>
</div>

<script>
   $(function(){
      $('#family_group_all').click(function(){
         $('.family_group').show();
      });
   });

   <% @family.family_groups.each do |group| %>
      $(function(){
         $('#family_group_<%= group.id %>').click(function(){
            $('.family_group').show();
            $('.family_group').not('.family_group_<%= group.id %>').hide();
         });
      });
   <% end %>
</script>
