<% view_family = Family.view_family(session) %>
<%= link_to "back to " + view_family.name, family_path(view_family) %>

<p>
<strong>username:</strong>
<%= @user.username %>
</p>

<p>
<strong>name:</strong>
<%= @user.name %>
</p>

<p>
<strong>lists:</strong>
<br>
<% @lists.each do |list| %>
   <%= list.name %>
   <%= link_to "Add", new_gift_path(:list_id => list.id) %><br>
   <%= render @gifts[list.id] %>
   <br>
<% end %>
</p>
