<% view_family = Family.view_family(session) %>
<% view_user = User.view_user(session) %>

<ol class="breadcrumb">
   <li><%= link_to current_user.name, user_path(current_user) %></li>
   <li><%= link_to "my families", families_path %></li>
   <li><%= link_to view_family.name, family_path(view_family) %></li>
   <li class="active"><%= user_breadcrumb(view_user, current_user, false) %></li>
   <li><%= link_to "user info", user_info_path(view_user) %></li>
</ol>

<div class="panel panel-primary">
   <div class="panel-heading">
      <h2 class="panel-title">lists</h2>
   </div>
   <div class="panel-body">
      <%= render @lists %>
   </div>
</div>

