<% view_family = Family.view_family(session) %>
<%= link_to "back to " + view_family.name, family_path(view_family) %>
<br><br>

<p>
<strong>name:</strong>
<%= @user.name %>
</p>

<p>
<strong>info:</strong>
<%= link_to "info", user_info_path(@user) %>
</p>

<p>
<strong>lists:</strong>
<br>
<% @lists.each do |list| %>
   <%= list.name == @user.name ? "personal" : list.name %>
   <%= link_to "Add", new_gift_path(:list_id => list.id) %><br>
   <table id="list" class="display">
      <thead>
         <tr><td></td><td>status</td><td>description</td></tr>
      </thead>
      <tbody>
         <%= render @gifts[list.id] %>
      </tbody>
   </table>
   <script>
      $(document).ready( function () {
         $('#list').DataTable();
      } );
   </script>
   <br>
<% end %>
</p>
