<% own_list = @view_user == current_user %>

<script>
   var global_table_settings = [];
</script>

<ol class="breadcrumb">
   <li><%= me_breadcrumb() %></li>
   <li><%= link_to "my families", families_path %></li>
   <li><%= link_to @view_family.name, family_path(@view_family) %></li>
   <li class="active"><%= user_breadcrumb(@view_user, current_user, false) %></li>
   <li><%= link_to "user info", user_info_path(@view_user) %></li>
</ol>

<div class="panel panel-primary">
   <div class="panel-heading">
      <h2 class="panel-title">lists<%= !own_list ? raw(' | <input id="show_gone_items" type="checkbox" checked> show gone items</h2>') : '' %>
   </div>
   <div class="panel-body">
      <%= render @lists %>
   </div>
</div>

<script>

   $.fn.dataTable.ext.search.push(
   function( settings, data, dataIndex ) {
      table_settings = global_table_settings[settings.sTableId]
      table_hidden_status = table_settings ? table_settings.hidden_status : false;

      if(table_hidden_status) return true;

      var show_gone = $('#show_gone_items')[0].checked;
      var status = data[3];
      var not_gone = status.indexOf("gone (") == -1;

      return not_gone || show_gone;
   }
   );

</script>
