<% hide_things = @gift.list.users.include? current_user %>

<div class="form">
   <%= form_for @gift do |f| %>
      <%= f.hidden_field :list_id, :value => @gift.list_id %>
      <%= f.hidden_field :added_by_user_id, :value => current_user.id %>

      <div class="checkbox">
         <h3>
            <label>
               <%= f.check_box :starred %>
               <span class="label label-default">really want</span>
            </label>
         </h3>
      </div>

      <% if not hide_things %>
         <div class="checkbox">
            <h3>
               <label>
                  <%= f.check_box :hidden %>
                  <span class="label label-default">hidden</span>
               </label>
            </h3>
         </div>
      <% end  %>

      <div class="form-group">
         <div class="input-group input-group-lg">
            <span class="input-group-addon">description</span>
            <%= f.text_field :description, :class => "form-control" %>
         </div>
      </div>

      <div class="form-group <%= error_for( @gift, :link, "has-error" ) %>">
         <div class="input-group input-group-lg">
            <span class="input-group-addon">link</span>
            <%= f.text_field :link, :class => "form-control" %>
         </div>
      </div>

      <div class="form-group">
         <%= f.submit :class => "btn-lg btn-success" %>
      </div>
   <% end %>
</div>
