<% view_user = User.view_user(session) %>
<%= link_to "back to " + view_user.name, user_path(view_user) %>

<%= form_for @gift do |f| %>
   <%= f.hidden_field :list_id, :value => @gift.list_id %>

   <p>
   <%= f.label :status %><br>
   <%= f.text_field :status %>
   </p>

   <p>
   <%= f.label :description %><br>
   <%= f.text_field :description %>
   </p>

   <p>
   <%= f.label :link %><br>
   <%= f.text_field :link %>
   </p>

   <p>
   <%= f.submit %>
   </p>
<% end %>
