<% view_user = User.view_user(session) %>
<%= link_to "back to " + view_user.name, user_path(view_user) %>

<div class="form">
   <%= form_for @gift do |f| %>
      <%= f.hidden_field :list_id, :value => @gift.list_id %>

      <div class="checkbox">
         <h3>
            <label>
               <%= f.check_box :starred %>
               <span class="label label-default">starred</span>
            </label>
         </h3>
      </div>

      <div class="form-group">
         <div class="input-group input-group-lg">
            <span class="input-group-addon">description</span>
            <%= f.text_field :description, :class => "form-control" %>
         </div>
      </div>

      <div class="form-group">
         <div class="input-group input-group-lg">
            <span class="input-group-addon">link</span>
            <%= f.text_field :link, :class => "form-control" %>
         </div>
      </div>

      <div class="form-group">
         <%= f.submit %>
      </div>
   <% end %>
</div>
