<h1>Listing gifts</h1>

<%= link_to "wishlist home", controller: :lists, action: :index %>
<br>
<%= link_to "new gifts", action: :new %>
<br><br>

<table>
   <thead>
   <tr>
      <th>status</th>
      <th>description</th>
      <th>link</th>
   </tr>
   </thead>

   <tbody>
   <% @gifts.each do |gift| %>
      <tr>
         <td><%= gift.status %></td>
         <td><%= gift.description %></td>
         <td><%= gift.link %></td>
         <td><%= link_to 'Show', gift %></td>
         <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
      </tr>
   <% end %>
   </tbody>
</table>
